---
layout: home
body-class:
bgcolor: pitch-black-bg
fgcolor: white
---



<div class="{{page.top-color}} first-chapter l-m-b xl-m-t">
	<div class="grid case-study-intro">
		<div class="storyline half xs-m-l chapter">
			<div class="chapter">	 		
			 	<h1 class=" display s-m-b ghost">
			 		Nique Woodhouse.
			 	</h1>
			 	<h1 class=" display m-auto s-m-b">
			 		Pro surfer. Web only - afraid of sea.  
			 	</h1> 		
		 	</div>			
		</div>
	</div>
</div>



<!-- <div class="wider xl-m-b xl-m-t">
	<div class="grid introduction chapter">
	      <div class="unit whole text-center">
		        <h1 class="plus-minus s-m-t s-p-l noline ghost">Pro Surfer. Web only - afraid of sea.</h1>
		        <p class="lead s-p-l mediumMarginBottom grey s-m-t">
		        	Independent <a href="{{site.baseurl}}/about" class="underline">designer</a> making experiences 
		        	simple &amp; a little fun. 
		        </p>
	      </div>
	 </div>
</div>	 -->


<div id="work-grid" class="wider s-m-t">
	<div class="grid">

		<div class="unit whole">
			<p class="m-print uppercase none">
				Featured work
			</p>
		</div>


		<div class="unit whole">
			{% assign counter = '0' %}
			{% for p in site.pages %}
			{% for tag in p.tags %}
			{% if tag == "featured-work" %}
			    {% capture counter %}{{ counter | plus:'0' }}{% endcapture %}
			 <div class="grid_item chapter delay-1s s-m-t"> 
				 <a href="{{site.baseurl}}{{p.url}}" 
				 class="grid__link {% if page.url == p.url %} none {% endif %}">
				 		<img class="grid_item_img greyscale1_saturate1 mAuto w100" src="{{p.thumbNail}}">
				 	<div class="grid__lock block">
						<p class="ghost">{{p.longTitle}}</p>
						<p class="subtitle block opacity07">{{p.client}}</p>
					</div>				
				</a>
			</div>
			{% endif %}
			{% endfor %}
			{% endfor %}
	</div>
</div>


