<div class="grid hero1 w100 text-center chapter l-m-t am-i-available">
	<div class=" whole paddingNo">
		
		<p class="m-print ghost uppercase alpha-white opacity07 ">Thank you for reading</p>		
	</div>
      <div class=" whole paddingNo">
        <h1 class="noline display ghost">I'm available to help on your projects, <a href="mailto:nique.shjm.woodhouse@gmail.com" class="underline">say hi</a>.</h1>
      </div>
      <div class="unit whole paddingNo">
      	
      	{% include social-links-list.html %}

  
      </div> 

 </div> 

 