<footer class="l-m-t s-p-b footy-mcfooter-face">
{% include am-i-available.html %}
</footer>

<!--<script type="text/javascript" src="//unpkg.com/viewport-checker@^2"></script>-->


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> 
<!--<script src="{{ site.baseurl }}/js/viewportchecker.js"></script>
<script src="https://rawgit.com/dirkgroenen/jQuery-viewport-checker/master/dist/jquery.viewportchecker.min.js"></script>-->

<!--
<script type="text/javascript">
jQuery(document).ready(function() {
	jQuery('.chapter').addClass("hidden2").viewportChecker({
	    classToAdd: 'visible animated fadeInDown', // Class to add to the elements when they are visible
	    offset: 10    
	   });   
	
});         
-->

         
</script>

