<html lang="en-ca">
<head>
	<neta charset="utf-8">
		<title>{% if page.title %}{{page.title}} - {% endif %} Niquewoodhouse.com{% if page.titleAfter %} - {{page.titleAfter}}{% endif %}</title>
		<link href="{{ site.baseurl }}css/main.css" rel="stylesheet">
		<meta name="description" content ="{{page.meta}}">
		<!--<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">-->
		<link href="https://fonts.googleapis.com/css?family=Lora|Roboto" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
		

		<!-- Meta -->
		<meta property="og:site_name" content="Nique Woodhouse"/>
		<meta property="og:title" content="niquewoodhouse"/>
		<meta property="og:url" content="http://www.niquewoodhouse.com/"/>
		<meta property="og:type" content="website"/>
		<meta itemprop="name" content="Nique Woodhouse"/>
		<meta itemprop="url" content="http://www.niquewoodhouse.com/"/>
		<meta name="twitter:title" content="Nique Woodhouse"/>
		<meta name="twitter:url" content="http://www.niquewoodhouse.com/"/>
		<meta name="twitter:card" content="summary"/>
		<meta name="description" content="The digital stoop of Nique Woodhouse. Freelance creative director in London." />


		<!-- Twitter card -->
		<meta property="twitter:card" content="photo" />
		<meta property="twitter:creator" content="@niquewoodhouse" />
		<meta property="twitter:site" content="@niquewoodhouse" />
		<meta property="twitter:title" content="niquewoodhouse" />
		<meta property="twitter:description" content="" />
		<meta property="twitter:image" content="http://www.niquewoodhouse.com/assets/images/social-twittercard.jpg" />
		<meta property="twitter:url" content="http://www.niquewoodhouse.com" />


</head>