		<nav class="header fixed w100 {{include.navclass}} zUltimo pitchBlackBg">

			<a href="#" id="trigger-overlay" class="navBtn none">
				<span><img src="http://niquewoodhouse.github.io/i/niquewoodhouse-02.svg"></span>
			</a>



			<a href="http://www.niquewoodhouse.com" class="fLeft logo relative">
				Nique
			</a>


			<ul class="nav fRight ">
				<li>					
					<a href="{{site.baseurl}}/about" class="uppercase ghost {% if page.url contains 'about' or page.url contains 'about' %}current{% endif %}">
						About
					</a>
				</li>

			
			</ul>

		</nav>

