<div class="wider bigGapBott h100 saturate1 pos5050 greyscale1_saturate1 bgCover" style="background-image:url('{{ page.featureImg}}')">
	<div class="wideOverlay">
		<div class="grid ghost hero1 w100">
			<div class="unit whole textCenter paddingNo">
				<p class="mediumPrint">{{ page.date | date: '%B %d, %Y' }}	</p>		
			</div>
		      <div class="unit whole paddingNo">
		        <h1 class="textCenter">{{ page.title }}</h1>
		      </div>
		      <div class="unit whole textCenter paddingNo">
		      	<p class="mediumPrint">{{page.subTitle}}	</p>
		      </div>
		 </div> 
	</div>		 
</div>		
