		      		<ul class="contact-social o-list--none o-list--inline l-m-b">
		      			<li class="o-list__item u-valign-middle u-marg-r-sm"><a href="https://www.instagram.com/niquewoodhouse/" title="Follow us on Instagram" target="_blank" class="c-footer__social-link"><img src="../assets/icons/instagram.svg" class="t-icon--instagram"></a></li>
		      			<li class="o-list__item u-valign-middle u-marg-r-sm"><a href="https://dribbble.com/nique" title="Follow us on Dribbble" target="_blank" class="c-footer__social-link"><img src="../assets/icons/dribbble.svg" class="t-icon--dribbble"></a></li>
		      			<li class="o-list__item u-valign-middle"><a href="https://twitter.com/niquewoodhouse" title="Follow us on Twitter" target="_blank" class="c-footer__social-link"><img src="../assets/icons/twitter.svg" class="t-icon--twitter"></a></li>
		      		</ul>
