

<div class="{{page.top-color}} first-chapter l-m-b">
	<div class="grid case-study-intro">
		<div class="storyline half xs-m-l l-m-b chapter">
		 	<div class="chapter">	 		
		 		<h1 class=" display m-auto s-m-b l-m-t">{{ page.longTitle }}</h1>		 		
		 	</div>	
		 </div>					
		 	<div class="two-thirds chapter m-auto delay-1s">
				<video class="w100 s-m-b" autoplay="" loop="">
						  <source src="{{page.feature-video}}.mp4" type="video/mp4">
						  <source src="{{page.feature-video}}.ogg" type="video/ogg">
						  Your browser does not support HTML5 video
				</video>	
		 	</div>
		 	<div class="storyline half l-m-b chapter">
			 		<p class="s-print {{page.bottom-color}} opacity05 uppercase xs-m-l">	
			 			{{page.year}}
			 		</p>
			 		<p class="s-print {{page.bottom-color}} opacity05 uppercase xs-m-t">
						{{page.role}}
					</p>	
					
				 		
		 	</div>
	</div>



		 <div class="unit half m-auto">
<!-- 				<div class="unit one-third float-left l-m-b m-auto">
				 	<div class="chapter">	
				 		<p class="s-print {{page.bottom-color}} opacity05 uppercase">
				 			Year
				 		</p>
				 		<p class="s-print {{page.bottom-color}} uppercase xs-m-t">
							{{page.year}}
						</p>
				 	</div>	
				 </div>	

				<div class="unit one-third float-left l-m-b m-auto">
				 	<div class="chapter">	
				 		<p class="s-print {{page.bottom-color}} opacity05 uppercase">
				 			Role
				 		</p>
				 		<p class="s-print {{page.bottom-color}} uppercase xs-m-t">
							{{page.role}}
						</p>
				 	</div>	
				 </div>	 -->
			</div>
	</div>



