<div class="wider bigGapBott h90 saturate1 pos5050 greyscale1_saturate1 bgCover" style="background-image:url('{{ page.featureImg}}')">
	<div class="wideOverlay">
		<div class="grid ghost hero1 w100">

		      <div class="unit whole paddingNo">
		        <h1 class="textCenter">{{ page.longTitle }}</h1>
		      </div>
		      <div class="unit whole textCenter paddingNo">
		      	<p class="mediumPrint">{{page.client}}	</p>
		      </div>
		 </div> 
	</div>		 
</div>	

<!--
<div class="wider ligGreyToWhite bigGapBott" style="background-image:url('{{ page.featureImg}}')">
	<div class="wideOverlay whiteBg09">
		<div class="grid mediumGapBott">
		      <div class="unit one-quarter">
		      	<ul class="blockLi list">
		      		<li>{{ page.jobRole }}</li> 		
		      	</ul>
		      </div>
		      <div class="unit one-quarter mediumGapBott">
		      	<ul class="blockLi list">
		      		<li>{{ page.year }}</li>
		      	</ul>		      	
		      </div>	            		      		      
		 </div>		
		<div class="grid">
		      <div class="unit whole center-on-mobiles">
		        <h1 class="bigGapTop mediumGapBott bigGapTop">{{ page.longTitle }}</h1>
		      </div>
		 </div>

	</div>		 
</div>		
-->