<div id="workgrid" class="wider ghostBg">
	<div class="grid">
		<div class="unit whole">
			{% assign counter = '0' %}
			{% for page in site.pages %}
			{% for tag in page.tags %}
			{% if tag == "work" and counter < '8' %}
			    {% capture counter %}{{ counter | plus:'1' }}{% endcapture %}
			 <div class="grid_item chapter"> 
				 <a href="{{site.baseurl}}{{page.url}}" class="grid__link">
				 		<img class="grid_item_img" src="{{page.thumbNail}}">
				 	<div class="grid__lock block">	
						<h4 class="grid__title block midnight display">{{page.title}}</h4>
						<p class="subtitle block grey ">{{page.subtitle}}</p>
					</div>				
				</a>
			</div>
			{% endif %}
			{% endfor %}
			{% endfor %}			
	</div>
</div>