

<div class="{{page.top-color}} first-chapter3 l-m-b">
	<div class="grid case-study-intro">
		<div class="storyline2 half xs-m-l l-m-b chapter2">
		 	<div class="chapter">	 		
		 		<h1 class=" display s-m-b l-m-t">{{ page.opening-sentence }}</h1>		 		
		 	</div>	
		 </div>					
		 	<div class="two-thirds chapter2 m-auto delay-1s">
				<video class="w100 s-m-b" autoplay="" loop="">
						  <source src="{{page.feature-video}}.mp4" type="video/mp4">
						  <source src="{{page.feature-video}}.ogg" type="video/ogg">
						  Your browser does not support HTML5 video
				</video>	
		 	</div>
		 	<div class="storyline2 half l-m-b chapter2">
			 		<p class="s-print {{page.bottom-color}} opacity05 uppercase xs-m-l">	
			 			{{page.year}}
			 		</p>
			 		<p class="s-print {{page.bottom-color}} opacity05 uppercase xs-m-t">
						{{page.role}}
					</p>	 		
		 	</div>
	</div>
</div>



