.animate {
    opacity: 1;
    transform: translate3d(0,40px,0);
    transition: opacity 600ms ease-out,transform 400ms ease-out;
}

.animate.is-active {
    opacity: 1;
    transform: translate3d(0,0,0);	
}
.grid_item img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
/*.grid_item:hover img {
	-webkit-transform: scale(1.03);
	transform: scale(1.03);	
}*/