/* Fills */


.gold, p.lead a, .bigNo, .bigNo2, nav a.current, a.gold, .ColourQuote {color:rgb(229, 188, 208) !important};
.pink {color:rgb(229, 188, 208)};
body {color:rgb(51, 51, 51);}
.shark {color:#1D2429;}
.midnight {color:#232323;}
.ghost {color:#fafafa;}
.ghost a, a.ghost {color:#fafafa;}
.yello {color:#FFCC00;}
.grey, .pFocus {color:rgb(153, 153, 153);}
.darkestgrey {color:rgb(87, 87, 87);}
.darkgrey {color:rgb(124,124,124);}
.lightgrey {color:rgb(172,172,172);}
.lightestgrey {color:rgb(214,214,214);}


/* Borders */

.borderGrey {border:1px solid #EFEFEF;}

/* Gradients */

.ligGreyToWhite{
   background: -webkit-linear-gradient(#F4F4F4, #fff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F4F4F4, #fff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F4F4F4, #fff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F4F4F4, #fff); /* Standard syntax (must be last) */
}

.DeepBlueToBrightPurp {
  background-color: #0c77f8;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0c77f8), color-stop(60%, #3474FB), color-stop(100%));
  background: -webkit-linear-gradient(top, #0c77f8 0%, #3474FB 60%, #826cff 100%);
  background: -ms-linear-gradient(top, #0c77f8 0%, #3474FB 60%, #826cff 100%);
  background: linear-gradient(to bottom, #0c77f8 0%, #3474FB 60%, #826cff 100%);
}


.lightGreytoMidGrey {
	background-color: #EFEFF4;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F8F8FA), color-stop(60%, #EFEFF4), color-stop(100%));
  background: -webkit-linear-gradient(top, #F8F8FA 0%, #B5B5B5 60%, #EFEFF4 100%);
  background: -ms-linear-gradient(top, #F8F8FA 0%, #B5B5B5 60%, #EFEFF4 100%);
  background: linear-gradient(to bottom, #F8F8FA 0%, , #EFEFF4 100%);
}

/* Image Treatments */

.saturate1 {
  -webkit-filter: saturate(0.5);
  filter: saturate(0.5);
}

.greyscale1 {
    -webkit-filter: grayscale(0.2);
  filter: grayscale(0.2);
}

.greyscale1_saturate1 {
  -webkit-filter: saturate(0.5) grayscale(0.2);
  filter: saturate(0.5) grayscale(0.2);
}


/* Backgrounds */

.ghostBg {background:#fafafa;}
.midnightBg {background:#232323;}
.pitchBlackBg {background:#030303;}
.blackBg09 {background:rgba(0,0,0, 0.9);}
.whiteBg09 {background:rgba(255,255,255, 0.9);}
.offBlackBg {background:#191919;}
.whitebg {background:white;}


.pitchBlackBg a {color:#fff;}

.shadow {
    -webkit-box-shadow: 0px 0px 32px -8px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 0px 32px -8px rgba(0,0,0,0.49);
    box-shadow: 0px 0px 32px -8px rgba(0,0,0,0.49);
}

a.textShadow {text-shadow:rgb(255, 255, 255) 0.5px 0.5px, rgb(255, 255, 255) -0.5px 0.5px, rgb(255, 255, 255) 1px 1px, rgb(255, 255, 255) -1px 1px, rgb(255, 255, 255) 1.5px 1.5px, rgb(255, 255, 255) -1.5px 1.5px, rgb(255, 255, 255) 2px 2px, rgb(255, 255, 255) -2px 2px, rgb(255, 255, 255) 2.5px 2.5px, rgb(255, 255, 255) -2.5px 2.5px, rgb(255, 255, 255) 3px 3px, rgb(255, 255, 255) -3px 3px, rgb(255, 255, 255) 0px 0.5px, rgb(255, 255, 255) 0px 1px, rgb(255, 255, 255) 0px 1.5px, rgb(255, 255, 255) 0px 2px, rgb(255, 255, 255) 0px 2.5px, rgb(255, 255, 255) 0px 3px;}


/* Borders */

.ghostBorder {
  border: 5px solid #fafafa;
}

/* Opacity */

.opacity07 {opacity: 0.7;}
.opacity05 {opacity: 0.5;}