/* Reset */

html, body {
	margin :0 !important;
	padding:0 !important;
	
}


.block {display: block;}
.inline-block {display: inline-block;}
.none, .display-none {display:none;}
.relative {position: relative;}
.absolute {position: absolute;}
.u-valign-middle, .v-align-mid {vertical-align: middle;}
.overflow-hidden {overflow: hidden;}

/* Links */

a {
	text-decoration: none;
	padding-bottom: 1px;
	color:inherit;
	position: relative;
}

a.underline:before, .case-study .storyline p a:before {
	content: "";
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 1px;
	opacity: 0.2; 
	background:#121212;
}
a.underline:after, .case-study .storyline p a:after {
	content: "";
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 1px;
	opacity: 1;
	background:#121212;
	-webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
	-moz-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
	transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
	-webkit-transform: scale3d(0, 1, 1);
	-moz-transform: scale3d(0, 1, 1);
	-ms-transform: scale3d(0, 1, 1);
	-o-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-ms-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center; 
}
a.underline:hover:after, .case-study .storyline p a:hover:after {
	-webkit-transform: scale3d(1, 1, 1);
	-moz-transform: scale3d(1, 1, 1);
	-ms-transform: scale3d(1, 1, 1);
	-o-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1); 
}

.case-study .pitch-black-bg .storyline p a:before, .case-study .pitch-black-bg .storyline p a:after  {
	background: #fff;
}



/* Buttons */

.btn-box-hollow {
	padding:25px;
	border:1px solid hsla(0,0%,100%,.1);
	letter-spacing: 0.05rem;

}


/* Sizes */

.h100 {min-height:100vh;}
.h90 {min-height:90vh;}

.coverplate__plate {
	height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.ghost:before, .ghost__child {
	display:inline-block;
	vertical-align: middle;
}

.ghost_child:before {
	content: "";
    height: 100%;
    margin-left: -1px;
    width: 1px;
}

.hero1 {
	margin-top:20vh !important;
	display: inline-block !important;
	min-width:100%;
}

/* Backgrounds */

.pos5050 {background-position: 50% 50%;}
.bgCover {background-size: cover;}

/* Devices */

.two-thirds .iPad {
	background: #fff;
		  -webkit-box-shadow: -1px 3px 28px -8px rgba(0,0,0,0.19);
     	  -moz-box-shadow: -1px 3px 28px -8px rgba(0,0,0,0.19);
          box-shadow: -1px 3px 28px -8px rgba(0,0,0,0.19);
          border-radius: 35px;
          background-size:100%;
          width:764px;
          height:510px;
}

.two-thirds .iPad img {
	padding:45px;
	width:84%;
	height:414px;
}

.two-thirds .iPad .iPadDot {
	width: 32px;
	height: 32px;
	background: #fff;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	-webkit-box-shadow: 0px 2px 12px -2px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 2px 12px -2px rgba(0,0,0,0.19);
    box-shadow: 0px 2px 12px -2px rgba(0,0,0,0.19);
    bottom:47%;
    right:25px;
}

.whole .iPad  {
		background: #fff;
		  -webkit-box-shadow: -1px 3px 28px -8px rgba(0,0,0,0.19);
     	  -moz-box-shadow: -1px 3px 28px -8px rgba(0,0,0,0.19);
          box-shadow: -1px 3px 28px -8px rgba(0,0,0,0.19);
          border-radius: 35px;
          background-size:100%;
          width:100%;
          height:600px;
}	

.whole .iPad .iPadDot {
	width: 40px;
	height: 40px;
	background: #fff;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 0px 2px 12px -2px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 2px 12px -2px rgba(0,0,0,0.19);
    box-shadow: 0px 2px 12px -2px rgba(0,0,0,0.19);
    bottom:47%;
    right:25px;	
}

.whole .iPad img {
	padding:50px;
	width:88%;
	height:500px;
}




/* // Media // */

/* Images */

.box-shadow, #leading-image, .shadow-one {box-shadow: 2.48832rem 2.48832rem 7.43008rem 0 #D4D4D4;}

.pitch-black-bg .box-shadow {box-shadow:3.58318rem 3.58318rem 15.40702rem 0 #181c1f;}

.center-media {
	margin:auto;
	display: block;
}

/* Contact */

.c-footer__social-link {
    opacity: .4;
    transform: translateZ(0);
    transition: opacity .45s cubic-bezier(.165,.84,.44,1);	
}

.c-footer__social-link:hover {
	opacity:1;
}

ul.contact-social li {margin:0 1rem;display:inline-block;}  
ul.contact-social li:first-child {margin:0 1 0 0rem;}  


.t-icon--twitter {
    width: 18px;
    height: 15px;
}

.t-icon--dribbble {
    width: 17px;
    height: 17px;
}

.t-icon--instagram {
    width: 19px;
    height: 18px;
}

/*	Phone 
*	On Dark Views
*/

.phone {
	background: #fff;
  -webkit-box-shadow: -1px 3px 28px -8px rgba(0,0,0,0.19);
	  -moz-box-shadow: -1px 3px 28px -8px rgba(0,0,0,0.19);
  box-shadow: -1px 3px 28px -8px rgba(0,0,0,0.19);
  border-radius: 2rem;
  padding:4rem 0.96rem;
  border: 1px solid #EBECEF;  
  box-shadow: 2.48832rem 2.48832rem 7.43008rem 0 #D4D4D4;    
}

.pitch-black-bg .phone {
	background: #F6F7F9;
  -webkit-box-shadow: -1px 3px 28px -8px rgba(0,0,0,0.19);
	  -moz-box-shadow: -1px 3px 28px -8px rgba(0,0,0,0.19);
  box-shadow: -1px 3px 28px -8px rgba(0,0,0,0.19);
  border-radius: 2rem;
  padding:4rem 0.96rem;
  border: 1px solid #EBECEF;    	
}

/*  Margins & Paddings 
 *  Use these for a consistent vertical rythym.
 */

.bigGapTop {
	margin-top:5rem !important;
}
.bigGapBott {
	margin-bottom:5rem !important;
}

.smallGapTop {
	margin-top:50px !important;
}

.smallGapBott {
	margin-bottom:50px !important;
}

.smallestGapTop {
	margin-top:25px !important;
}

.smallestGapBott {
	margin-bottom: 25px !important;
}

.mediumGapBott {
	margin-bottom:100px !important;
}

.bigGapTopPad {
	padding-top:5rem !important;
}

.bigGapBottPad {
	padding-bottom:5rem !important;
}

/* Ms */

.xs-m-t {margin-top:1rem !important;}

.s-m-l {margin-left:4rem !important;}
.s-m-t {margin-top:4rem !important;}
.s-m-b {margin-bottom:4rem !important;}

.m-m-b {margin-bottom:7rem !important;}
.m-m-t {margin-top:7rem !important;}

.l-m-t {margin-top:10rem !important;}
.l-m-b {margin-bottom:10rem !important;}

.xl-m-t {margin-top: 15rem !important;}
.xl-m-b {margin-bottom: 15rem !important;}

.s-m-r {margin-right:4rem !important;}
.xs-m-r {margin-right:2rem !important;}


/* Ps */

.xs-p-r {padding-right:2rem;}
.xs-p-l {padding-left:1rem;}

.s-p-l {padding-left:4rem;}
.s-p-t {padding-top:4rem;}
.s-p-b {padding-bottom:4rem;}
.s-p-r {padding-right:4rem;}

.m-p-b {padding-bottom:7rem !important;}
.m-p-t {padding-top:7rem !important;}

.l-p-b {padding-bottom:10rem !important;}
.l-p-t {padding-top:10rem !important;}
.1-padding-l-r {padding-left:1%;padding-right:1%;}

.paddingNo {
	padding: 0 !important;
}

.padding5 {padding:5%;}

.mAuto, .m-auto {margin: 0 auto;}

.mTopNone {margin-top:0px !important;}

/* Cursor */

.pointer {cursor:pointer;}

/* Positions */

.fixed {
	position:fixed;
}

.fRight, .float-right {
	float:right !important;
}

.fLeft, .float-left {
	float:left !important;
}
.zUltimo {z-index:901;}
.z201 {z-index: 201;}
.z101 {z-index: 101;}

/* uls */

ul {
	padding:20px;
}

ul.list, nav.header ul.nav {
	padding:0px;
	margin:0px;
}

ul.minimal {
	list-style-type: none;
}
/*
ul.list li:first-child {
	margin:0 0 15px 0;
}*/

ul.list li {
	line-height:2em;
}

ul li {
	/*display:inline-block;
	list-style: none;*/
} 

ul.blockLi li, ul.recentWork li {
	display:block;
}

nav.header ul.nav {
	display:inline;
}

ul.recentWork li {
	margin:40px 0 40px 0;
}

ul.recentWork li a:hover span.title {
	text-decoration: underline;
}

ul.recentWork li a:after {
	content:"";
	height:15px;
	display:block;
	width:100%;
	border-bottom:1px solid rgba(35, 35, 35, .1);
}


/* Selected work */

.workWide {
	background-position:50% 0%;
	background-size:cover;
	background-color:transparent;
	background-repeat:no-repeat;
}

.workWide .wideOverlay {
	padding:300px 0px;
	height:100%;
	width:100%;
}

ul.work li {
	vertical-align: middle;
}




