
/*
 * Gridism
 * A simple, responsive, and handy CSS grid by @cobyism
 * https://github.com/cobyism/gridism
 */

/* Preserve some sanity */
.grid,
.unit {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Set up some rules to govern the grid */
.grid {
  display: block;
  clear: both;
}
.grid .unit {
  float: left;
  width: 100%;
  padding-left: 6%; 
  padding-right: 6%;
}

.grid .one-quarter {
  padding-left: 3% !important;
  padding-right: 3% !important;
}

.case-study .grid .unit {
  float: none;
}

/* This ensures the outer gutters are equal to the (doubled) inner gutters. 
.grid .unit:first-child { padding-left: 20px; }
.grid .unit:last-child { padding-right: 20px; }
.grid .unit.lonely {padding-left:0px;}*/

/* Nested grids already have padding though, so let’s nuke it */
.unit .unit:first-child { padding-left: 0; }
.unit .unit:last-child { padding-right: 0; }
.unit .grid:first-child > .unit { padding-top: 0; }
.unit .grid:last-child > .unit { padding-bottom: 0; }

/* Let people nuke the gutters/padding completely in a couple of ways */
.no-gutters .unit,
.unit.no-gutters {
  padding: 0 !important;
}


/* Wrapping at a maximum width is optional */
.wrap .grid,
.grid.wrap {
  max-width: 1200px;
  margin: 0 auto;
}

/* Width classes also have shorthand versions numbered as fractions
 * For example: for a grid unit 1/3 (one third) of the parent width,
 * simply apply class="w-1-3" to the element. */

.grid .whole,          .grid .w-1-1 { width: 100%; }
.grid .half,           .grid .w-1-2 { width: 50%; }
.grid .one-third,      .grid .w-1-3 { width: 33.3332%; }
.grid .two-thirds,     .grid .w-2-3 { width: 66.6665%; }
.grid .one-quarter,
.grid .one-fourth,     .grid .w-1-4 { width: 25%; }
.grid .three-quarters,
.grid .three-fourths,  .grid .w-3-4 { width: 75%; }
.grid .one-fifth,      .grid .w-1-5 { width: 20%; }
.grid .two-fifths,     .grid .w-2-5 { width: 40%; }
.grid .three-fifths,   .grid .w-3-5 { width: 60%; }
.grid .four-fifths,    .grid .w-4-5 { width: 80%; }
.grid .golden-small,   .grid .w-g-s { width: 38.2716%; } /* Golden section: smaller piece */
.grid .golden-large,   .grid .w-g-l { width: 61.7283%; } /* Golden section: larger piece */

/* Clearfix after every .grid */
.grid {
  *zoom: 1;
}
.grid:before, .grid:after {
  display: table;
  content: "";
  line-height: 0;
}
.grid:after {
  clear: both;
}

/* Utility classes */
.align-center { text-align: center; }
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.pull-left    { float: left; }
.pull-right   { float: right; }

/* A property for a better rendering of images in units: in
   this way bigger pictures are just resized if the unit
   becomes smaller */
.unit img, .unit video {
  max-width: 100%;
}

/* Hide elements using this class by default */
.only-on-mobiles {
  display: none !important;
}


/*  Margins & Paddings 
 *  Use these for a consistent vertical rythym.
 */

  /* Top Margins */

 .smallMarginTop {
  margin-top: 0.5rem;
 }

 .mediumMarginTop {
  margin-top:1rem;
 }

 .largeMarginTop {
  margin-top:1.5rem;
 }

  .xlargeMarginTop {
  margin-top:10.5rem;
 }

  /* Bottom Margins */

 .smallMarginBottom {
  margin-bottom: 0.5rem;
 }

 .mediumMarginBottom {
  margin-bottom:1rem;
 }

 .largeMarginBottom {
  margin-bottom:1.5rem;
 }

  .xlargeMarginBottom {
  margin-bottom:10.5rem;
 }


.dBlock {display: block;}

/* Work Grid */

.grid-item, .grid_item {
  display: inline-block;
  vertical-align: middle;
  margin-right:7%;
  margin-top:3rem;
  width:45%;  
  height:auto;
}

.grid-item-remove-mt {
  margin-top:0rem !important;
}

#work-grid .grid-item:nth-child(2n), #work-grid-case-study .grid_item:nth-child(3n), .case-study-media .grid_item:nth-child(2n) {
  margin-right:0%;
}

.grid-lock {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    text-align: left;
    left:-2vw;
    top:45%;
}

.grid-lock h4 {
  margin: 0 auto;
}

.grid-lock p.subtitle {
  margin: 0.8rem 0 0.5rem 0;
}

#work-grid .grid-lock p.grid-title, #work-grid-case-study .grid-lock p.grid-title {
  font-size:1.4rem;
  margin-bottom: 0px; 
}
/*
.grid-item:nth-child(3n) {
  margin-right:0%;
}
*/
a.grid__link {border-bottom-style: none;}



.side-by-side {
  display: inline-block;
  margin:0 auto;
  width:47%;
}

/* Responsive Stuff */


@media screen and (max-width: 1000px) and (min-width:321px) {
 #work-grid .grid-item, #work-grid.grid-item:nth-child(2n), #work-grid.grid-item:nth-child(3n) {
    display: inline-block;
    margin: 2rem auto;
    width: 100% !important;
  }   

  .grid-lock h4 {
    margin:1rem 0 0 0;
    font-size:1.5rem;
  }

  .grid-lock p.subtitle {
    font-size:1rem;
    margin:1rem 0 1.5rem 0;
  }

  .grid .half, .grid .w-1-2 {
    width:70%;
  }
}

@media screen and (max-width: 320px) and (min-width:1px) {
  .grid .half, .grid .w-1-2 {
    width:90%;
  }
}

.w100px {width:100px;}
.w100 {width:100% !important;}
.w95 {width:95%;}
.w90 {width:90%;}
.w80 {width:80%;}
.w60 {width:60%;}
.w50 {width:50%;}
.w25 {width:25%;}

img.goesWithHeading {top:60px;right:0px;}
.maxwidth500 {max-width: 500px !important;}
.maxwidth1400 {max-width:1200px !important;padding-left:0 !important;padding-right:0 !important;}

/*
.introduction {
    padding-bottom: 10vh;
    padding-top: 25vh;
}
*/



ul#how-to-contact b {width:100px;display:inline-block;font-weight: normal;opacity: 0.7;}


/*

CASE STUDY

*/

body.case-study .half p {margin-top:2rem;}

body.case-study .half ul li {margin:7px 0 3px 15px;padding:0;}

body.case-study .dark {background:black;}
body.case-study .first-chapter, body.about .first-chapter {padding-top:13rem;}
body.case-study .dark h1 {color:white;}

body.case-study .case-study-media .copy {width:50%;margin:0 auto;}
/*body.case-study .case-study-intro {margin-top:13rem;}*/
body.case-study .case-study-intro .grid-item {margin-top:0rem !important;}
body.case-study video {
    background-image: url("../assets/global/loading-1-light.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 5%;
  }

body.case-study .pitch-black-bg video, body.case-study .dark video {
  background-image: url("../assets/global/loading-1-dark.gif");
}


/*

HOLDING-ONE

*/

.holding-one  .introduction h1 {
  font-size:8rem;
  color:#212121;
  line-height: 9rem;
}

.holding-one h1 {
  font-size: 4rem;
}

.pinky {color:#e5bcd0;}

.holding-one p, .holding-one h1 {max-width: 80%;}


@media screen and (max-width: 1000px) and (min-width:601px) {
.holding-one  .introduction h1 {
  font-size: 5rem;
  line-height: 6rem;
}
.case-study .two-thirds {width:95%;}
.holding-one .s-p-l {
  padding-left:0;
}
.holding-one nav {display: none;}

/* grid */

.case-study .grid .one-quarter, .grid .one-fourth, .grid .w-1-4 {width:45%;}
.case-study .phone-screens .one-third img.w50 {width:90%;margin-left:15%;}

/* case-studies */
.case-study p.personA {margin-left:40px;}
.case-study video {max-width: 100%;}
.case-study .storyline p, .case-study .storyline h3, .case-study .storyline h2, .case-study .storyline h4 {max-width:65%;}
.case-study .case-study-media .copy {width:60% !important;}

/* margin */
.s-m-t {margin-top:2rem !important;}

}

@media screen and (max-width: 1000px) and (min-width:1px) {

/* work-grid */
#work-grid-case-study .grid-item {width:100%;border-bottom:1px solid #444;}
#work-grid-case-study .grid-item:nth-child(3n) {border-bottom: none}
/* case studies */
.storyline {padding:0 0rem !important;}
.case-study .case-study-media .grid-item:nth-child(1n) {width:auto;display:block;margin-right:auto;}
.case-study .case-study-media .copy {width:80% !important;}
.case-study .case-study-media .grid-item img.phone {margin-left:25%;} 

}

@media screen and (max-width: 745px) and (min-width:1px) {

/* am I available */
.case-study .work-footer .am-i-available .whole, .footy-mcfooter-face .am-i-available .whole {width:87% !important;margin:0 auto;}
.case-study .work-footer .am-i-available .whole h1, .case-study .work-footer .am-i-available .whole p, .footy-mcfooter-face .am-i-available .whole h1, .footy-mcfooter-face .am-i-available .whole p {width:90% !important;float:left;display:block;margin:0 auto;}
.footy-mcfooter-face .am-i-available .whole h1, .case-study .work-footer .am-i-available .whole h1 {margin-bottom:3rem;margin-top:3rem;}


}


@media screen and (max-width: 600px) and (min-width:1px) {
.holding-one .introduction h1 {
  font-size:3rem;
  line-height: 4rem;
}
.holding-one .s-p-l {
  padding-left:10px;
}
.holding-one nav {display: none;}
.holding-one .xl-m-t {margin-top: 0rem;}

.grid .three-quarters, .grid .three-fourths, .grid .w-3-4 {width:100%;}
.grid .one-fifth {width:33%;}

/* type */
.s-print {font-size: 1.2rem !important;line-height: 1.9rem !important;}

/* case-studies */
.case-study .l-m-t {margin-top:2rem !important;}
.case-study .grid .two-thirds, .grid .w-2-3 {width:100%;}
.case-study video, .case-study img {max-width:100%;}

.case-study h2 {font-size:2.7rem;}

.case-study p.personA {margin-left:40px;}
.case-study p.personA, p.personB {width:65%;}
.case-study p.personB {margin-right:10px;}
.case-study .case-study-media .grid-item img.phone {margin-left:6%;width:80%;}
.case-study .case-study-media .grid-item img {width:95%;}
.shadow-one {box-shadow: 1.48832rem 1.48832rem 2.43008rem 0 #D4D4D4;} 
.case-study .phone-screens .one-quarter {width:70%;}
.case-study .phone-screens .float-right {margin-right:15%;}
.case-study .phone-screens .float-left {margin-left:15%;}
.case-study .phone-screens .one-third {width:70%;}
.case-study .phone-screens .one-third img {width:100%;}
.case-study .phone-screens-collage {display:none;}

.case-study .case-study-media .copy {width:90% !important;margin:0 auto !important;}

.case-study .step-title {padding-top:5rem;}


.grid .half, .grid .w-1-2 {margin-bottom:5rem;}
.case-study .one-fifth img.w25 {width:70%;}


/* case study footer */
.case-study .work-footer .textCenter {text-align: left !important;width:90%;}
.case-study .work-footer .whole .h1 {max-width:90% !important;margin-left:3rem;}
.case-study .work-footer .paddingNo  {margin-left:23px;}
.case-study .work-footer .text-center, .footy-mcfooter-face .text-center, .footy-mcfooter-face {text-align: left !important;}
.case-study .work-footer .hero1 {margin-top:5rem !important;}
.case-study .work-footer .hero1 h1 {width:80%;}


/* about */
body.about h1 {font-size:1.8rem;}


}




