
/*
 * Gridism
 * A simple, responsive, and handy CSS grid by @cobyism
 * https://github.com/cobyism/gridism
 */

/* Preserve some sanity */
.grid,
.unit {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Set up some rules to govern the grid */
.grid {
  display: block;
  clear: both;
}
.grid .unit {
  float: left;
  width: 100%;
}

/* This ensures the outer gutters are equal to the (doubled) inner gutters. 
.grid .unit:first-child { padding-left: 20px; }
.grid .unit:last-child { padding-right: 20px; }
.grid .unit.lonely {padding-left:0px;}*/

/* Nested grids already have padding though, so let’s nuke it */
.unit .unit:first-child { padding-left: 0; }
.unit .unit:last-child { padding-right: 0; }
.unit .grid:first-child > .unit { padding-top: 0; }
.unit .grid:last-child > .unit { padding-bottom: 0; }

/* Let people nuke the gutters/padding completely in a couple of ways */
.no-gutters .unit,
.unit.no-gutters {
  padding: 0 !important;
}

/* Wrapping at a maximum width is optional */
.wrap .grid,
.grid.wrap {
  max-width: 1200px;
  margin: 0 auto;
}

/* Width classes also have shorthand versions numbered as fractions
 * For example: for a grid unit 1/3 (one third) of the parent width,
 * simply apply class="w-1-3" to the element. */

.grid .whole,          .grid .w-1-1 { width: 100%; }
.grid .half,           .grid .w-1-2 { width: 50%; }
.grid .one-third,      .grid .w-1-3 { width: 33.3332%; }
.grid .two-thirds,     .grid .w-2-3 { width: 66.6665%; }
.grid .one-quarter,
.grid .one-fourth,     .grid .w-1-4 { width: 25%; }
.grid .three-quarters,
.grid .three-fourths,  .grid .w-3-4 { width: 75%; }
.grid .one-fifth,      .grid .w-1-5 { width: 20%; }
.grid .two-fifths,     .grid .w-2-5 { width: 40%; }
.grid .three-fifths,   .grid .w-3-5 { width: 60%; }
.grid .four-fifths,    .grid .w-4-5 { width: 80%; }
.grid .golden-small,   .grid .w-g-s { width: 38.2716%; } /* Golden section: smaller piece */
.grid .golden-large,   .grid .w-g-l { width: 61.7283%; } /* Golden section: larger piece */

/* Clearfix after every .grid */
.grid {
  *zoom: 1;
}
.grid:before, .grid:after {
  display: table;
  content: "";
  line-height: 0;
}
.grid:after {
  clear: both;
}

/* Utility classes */
.align-center { text-align: center; }
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.pull-left    { float: left; }
.pull-right   { float: right; }

/* A property for a better rendering of images in units: in
   this way bigger pictures are just resized if the unit
   becomes smaller */
.unit img {
  max-width: 100%;
}

/* Hide elements using this class by default */
.only-on-mobiles {
  display: none !important;
}


/*  Margins & Paddings 
 *  Use these for a consistent vertical rythym.
 */

  /* Top Margins */

 .smallMarginTop {
  margin-top: 0.5rem;
 }

 .mediumMarginTop {
  margin-top:1rem;
 }

 .largeMarginTop {
  margin-top:1.5rem;
 }

  .xlargeMarginTop {
  margin-top:10.5rem;
 }

  /* Bottom Margins */

 .smallMarginBottom {
  margin-bottom: 0.5rem;
 }

 .mediumMarginBottom {
  margin-bottom:1rem;
 }

 .largeMarginBottom {
  margin-bottom:1.5rem;
 }

  .xlargeMarginBottom {
  margin-bottom:10.5rem;
 }


.dBlock {display: block;}

.grid_item {
  display: inline-block;
  vertical-align: middle;
  /*width: 31.4%;
  margin-right:2.4%;
  */
  margin-right:5%;
  width:47%;
  margin-top:3rem;
  overflow-x: hidden;
  overflow-y:hidden;
}
.grid_item:nth-child(2n) {
  margin-right:0%;
}

.grid__lock {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    text-align: left;
}

.grid__lock h4 {
  margin: 0 auto;
}

.grid__lock p.subtitle {
  margin: 1rem 0 0.5rem 0;
}
/*
.grid_item:nth-child(3n) {
  margin-right:0%;
}
*/
a.grid__link {border-bottom-style: none;}


/* Responsive Stuff */

@media screen and (max-width: 1366px) {
  .wider {
    margin: 0 auto;
    padding-right: 6%;
    padding-left: 6%;
  } 
  .grid_item, .grid_item:nth-child(3n) {
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
    width: 47%;
    margin-right:5%;
  }
 .grid_item:nth-child(2n) {
  margin-right:0%;
} 
  .grid__lock h4 {
    margin:1.3rem 0;
    font-size:1.3rem;
  }

  .grid__lock p.subtitle {
    font-size:1rem;
    margin:1rem 0 1.5rem 0 ;
  }

}


@media screen and (max-width: 1000px) and (min-width:1px) {
   .grid_item, .grid_item:nth-child(2n), .grid_item:nth-child(3n) {
    display: inline-block;
    margin: 2rem auto;
    width: 100% !important;
  }   

  .grid__lock h4 {
    margin:1.3rem 0;
    font-size:1.5rem;
  }

  .grid__lock p.subtitle {
    font-size:1.5rem;
    margin:1rem 0 1.5rem 0;
  }
}

/* Expand the wrap a bit further on larger screens */
@media screen and (max-width: 1400px) {
  .wider .grid, .grid.wider {
    max-width: 1280px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1401px) {
  .wider .grid, .grid.wider {
  padding-left: 6%;
  padding-right:6%;
  }
}


.w80 {width:80%;}
.w90 {width:90%;}
.w95 {width:95%;}
.w50 {width:50%;}
.w100 {width:100% !important;}
img.goesWithHeading {top:60px;right:0px;}
.maxwidth500 {max-width: 500px !important;}
.maxwidth1400 {max-width:1200px !important;padding-left:0 !important;padding-right:0 !important;}

.introduction {
    padding-bottom: 20vh;
    padding-top: 30vh;
}


.menu{position:fixed;background:#1a1a1a;z-index:-999;width:100%;opacity:0;transition:opacity .5s;color:white;}
.menu a{visibility:hidden;}
.menu .menu-wrap{position:relative;}
.menu .menu-wrap ul{position:absolute;font-size:60px;line-height:50px;bottom:7%;left:7%;}
.menu .menu-wrap ul .num{display:none;opacity:.1;}
.menu .menu-wrap ul .num .val{opacity:.1;}
.menu .menu-wrap ul a{color:white;font-size:35px;font-weight:100;}
.menu .menu-show{opacity:1 !important;transition:opacity .5s;z-index:1 !important;}
.menu-show a{visibility:visible}
.btn-menu{width:100px;height:100px;background:#1a1a1a;display:block;position:fixed;z-index:2;border-radius:50%;margin:7%;}
.strike{border-bottom:none;opacity:.15}
.btn-menu-show{box-shadow:none;transition:background .5s;background:white;}
.stop-scrolling{height:100%;overflow:hidden;}



html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}@font-face{font-family:'fz';src:url("/fonts/fz.otf")}@font-face{font-family:'neu';src:url("/fonts/neu.otf")}::selection{background:#ffffc3;color:#555}body{color:#222;line-height:1.5em;font-family:'neu';text-rendering:optimizeLegibility;font-smoothing:antialiased;background:#fff;color:#111}h1{font-size:120px;font-weight:bold;color:transparent}a{text-decoration:none}.container{background-repeat:no-repeat;background-size:contain;background-position:right;overflow-x:hidden;background:#fff}.border-type{position:absolute;text-transform:uppercase;font-size:18px;padding:15px;text-align:center;width:100%;padding:30px 0}.border-type a{color:white}.border-type.border-type-bottom{bottom:0;-webkit-transform:rotate(180deg)}.border-type-left{text-transform:uppercase;font-size:18px;position:absolute;top:50vh;-webkit-transform:rotate(90deg);left:-20px;width:124px}.border-type-left a{color:white}.border-type-right{text-transform:uppercase;font-size:18px;position:absolute;top:50vh;-webkit-transform:rotate(270deg);right:-40px;width:171px}.border-type-right a{color:white}.cover{position:absolute;bottom:9%;left:7%}.cover h1,.cover h2{font-size:80px;color:#1a1a1a;line-height:.8em;font-weight:100}.cover h2{opacity:.2}.hero{color:#fff;text-align:center;position:relative;background:#1a1a1a}.hero h1{position:relative;top:50%;transform:translateY(-50%)}.vanilla{margin-bottom:7% !important;box-shadow:0 20px 40px rgba(0,0,0,0.35)}.content{background:#fff}.content .case{padding:10%}.content .circle{width:800px;height:800px;border-radius:50%;font-size:50px;color:#fff;line-height:800px;text-align:center;background:#1a1a1a;margin:0 auto}.content h2{font-family:'fz';text-transform:uppercase;-webkit-text-stroke:2px #fff;color:transparent;text-align:center;font-size:64px;letter-spacing:-2px;margin:10% 0}.content .right{text-align:right;width:30%;float:right}.content .left{float:left;width:30%}.content .center{text-align:center;margin:0 auto;max-width:50%;margin-bottom:10%}.content img{text-align:center;margin:0 auto;display:block}.menu{position:fixed;background:#1a1a1a;z-index:-999;width:100%;opacity:0;transition:opacity .5s;color:white}.menu a{visibility:hidden}.menu .menu-wrap{position:relative}.menu .menu-wrap ul{position:absolute;font-size:60px;line-height:50px;bottom:7%;left:7%}.menu .menu-wrap ul .num{display:none;opacity:.1}.menu .menu-wrap ul .num .val{opacity:.1}.menu .menu-wrap ul a{color:white;font-size:35px;font-weight:100}.menu-show{opacity:1;transition:opacity .5s;z-index:1}.menu-show a{visibility:visible}.btn-menu{width:100px;height:100px;background:#1a1a1a;display:block;position:fixed;z-index:2;border-radius:50%;margin:7%}.btn-menu-pulse{animation:pulse 2.3s infinite;box-shadow:0 0 0 rgba(26,26,26,0.2)}@keyframes pulse{0%{box-shadow:0 0 0 0 rgba(26,26,26,0.2)}70%{box-shadow:0 0 0 120px transparent}100%{box-shadow:0 0 0 0 transparent}}.strike{border-bottom:none;opacity:.15}.btn-menu-show{box-shadow:none;transition:background .5s;background:white}.stop-scrolling{height:100%;overflow:hidden}.folio{background:white}.folio .head,.folio .expl{padding:7%;background:#f8f8f8}.folio .head h1,.folio .expl h1{font-size:80px;color:#1a1a1a;line-height:.8em;font-weight:100;position:absolute;bottom:9%;left:7%}.folio .head h1 .light,.folio .expl h1 .light{opacity:.2}.folio .head h2,.folio .expl h2{font-size:80px;color:#1a1a1a;line-height:.8em;font-weight:100;padding:7% 0;margin:0 auto;max-width:800px}.folio .head p,.folio .expl p{text-align:left;max-width:800px;margin:0 auto;font-size:36px;line-height:1.4em;color:#aaa;text-indent:60px;margin-bottom:30px}.folio .head p:first-of-type,.folio .expl p:first-of-type{text-indent:0}.folio .head p a,.folio .expl p a{color:#555;border-bottom:2px solid #bebebe}.folio .head p a:hover,.folio .expl p a:hover{border-bottom:2px solid #555}.folio .expl{background:#f8f8f8;padding:14% 0}.folio .expl p{margin:0 auto}.folio .expl h2{max-width:800px;margin:0 auto;padding:7%}.folio .head{margin-bottom:14%}.folio .expl-e{background:white}.folio .expl-e p{margin-bottom:100px}.folio .process{position:relative;background:#fff;padding:5% 0 12% 0}.folio .pro{display:block;text-align:center;margin-bottom:-10%}.folio .pro img{width:80%}.folio .pre{margin:0 auto;text-align:center}.folio .pre img{width:80%}.folio .pre-media{padding:2% 0}.cf:before,.cf:after{content:" ";display:table}.cf:after{clear:both}.cf{*zoom:1}.dark{background:#1a1a1a}.dark .container{max-width:800px;margin:40px auto;font-size:24px;background:#1a1a1a;color:white}.dark .container h1{color:white;line-height:2em;font-weight:100}.dark .container p{line-height:1.3em}@media screen and (max-device-width: 900px) and (min-width: 820px){h1{display:none;text-align:center}}@media only screen and (max-width: 820px){.btn-menu{bottom:40px;right:40px;width:50px;height:50px;margin:0}.folio .head h1{padding:10% 0 0;font-size:40px;top:0%;width:90%}.folio .head p{font-size:20px;padding:7%}.folio .expl{padding:25% 7%;margin:14% 0}.folio .expl h2{font-size:40px;padding:0;padding:14% 7%;line-height:1em}.folio .expl p{font-size:20px;padding:0 7%}.menu .menu-wrap ul{bottom:40px;left:40px;line-height:1em}.menu .menu-wrap ul li{line-height:.4;margin-top:24px}.menu .menu-wrap ul li a{font-size:24px}.cover{position:absolute;top:50px;left:34px}.cover h1,.cover h2{font-size:36px}}



